  <% @post.comments.order(created_at: :desc).each do |comment| %>
  <div id="comment_display" style="background-color:white;margin:30px auto;border-radius:10px;;width:70%">
  <h3 class="comment_namee"><%= comment.name %> <% if admin_signed_in? %> <span class="comment_date"> via <%= comment.email %> </span> <% end %> </h3>
  <h3 class="comment_date"> <%=distance_of_time_in_words(DateTime.now, comment.created_at) %> ago </h5>
  <h3 class="comment"><%= comment.comment %>  </h3>
    <% if admin_signed_in? %>
    <%= link_to post_comment_path(@post.id,comment.id), method: 'delete', data: {confirm: 'Are you sure?'} do %>
      <h5 class="edit_delete" style="padding:0;margin:0"> Delete Comment </h5>
    <% end %> <% end %>
  </div>
  <% end %>
