<% content_for :title, "Ishan Subedi | Blog" %>
<% content_for :preview, "static/img/preview.jpg" %>
<% content_for :description, "Hello there! Welcome to my blog. I write about technology and software engineering." %>

<!---------header section---------->
<div id="header" style="position:absolute;z-index:-10;height:100%;">
<div id="coverText">
<h1 class="header_head"> Blog </h1>
<h2 class="header_head"> Welcome to my Blog</h2>
</div>
</div>

<div id="content" style="position:absolute;top:100%">

<% @posts.each do |post| %>
  <div id="post_list" style="text-align:center">
  <%= link_to post_path(post.id) do %>
  <div class="post_img"><%= post.postimg.html_safe %>  </div> 
  <h2 class="header1"><%= post.title %> </h2>
  <% end %>
  <h5 class="date_time">by <%= post.author %></h5>
  <h5 class="date_time"><%= post.created_at.to_s(:full_english) %></h5>
  
   <% if admin_signed_in? %>
    <a href="<%= edit_post_path(post.id) %>"><h5 class="edit_delete"> Edit Post </h5></a>
    <%= link_to post_path(post.id), method: 'delete', data: {confirm: 'Are you sure?'} do%>
      <h5 class="edit_delete"> Delete Post </h5>
    <% end %>
   <% end %> 
   
  <div id="button">
   <%= link_to post_path(post.id) do %>
    <text class="buttonDefault"> READ MORE </text>
   <% end %>
   </div>
   </div>
<% end %>

<%= render partial: 'shared/footer.html.erb' %>

</div>
