<!---------header section---------->
<div id="header" style="position:absolute;z-index:-10;height:80%;">
<div id="coverText">
<h1 class="header_head"> <%= @post.title %> </h1>
<h2 class="header_head"> Blog Post</h2>
</div>
</div>

<div id="content" style="position:absolute;top:80%">
  
  <div id="post">
    <div id="img_indivisual"><%= @post.postimg.html_safe %></div>
    <h5 class="date_time post_date_time"> posted <%=distance_of_time_in_words(DateTime.now, @post.created_at) %> ago by <%= @post.author %></h5>
    
  <div style="text-align:center">
   <% if admin_signed_in? %>
    <a href="<%= edit_post_path(@post.id) %>"><h5 class="edit_delete"> Edit Post </h5></a>
    <%= link_to post_path(@post.id), method: 'delete', data: {confirm: 'Are you sure?'} do%>
      <h5 class="edit_delete"> Delete Post </h5>
    <% end %>
   <% end %>
  </div>
  <h3 class="post_body"><%= @post.content.gsub("\n", "<br>").html_safe %></h3>
  </div>
  
  <div id="comment">
  <div id="comment_display" style="text-align:center">
    <h3 class="comment_header"> Leave a Comment </h3>
  <%= simple_form_for Comment.new, url: post_comments_path(@post), method: :post do |f| %>
    <%= f.input :name, label: false, placeholder: 'name', :input_html => {:class=> 'comment_input'} %>
    <%= f.input :email, label: false, placeholder: 'email (will remain private)', :input_html => {:class=> 'comment_input'} %>
    <%= f.input :comment, label: false, placeholder: 'comment', :input_html => {:class=> 'comment_text_input'} %>
    <%= f.submit 'Comment', class: "comment_submit" %>
  <% end %>
  </div> 
  
  <% @post.comments.order(created_at: :desc).each do |comment| %>
  <div id="comment_display" style="background-color:white;padding:30px;border:4px solid #e4eaed;border-radius:30px;;width:80%">
  <h3 class="comment_namee"><%= comment.name %> <% if admin_signed_in? %> <span class="comment_date"> via <%= comment.email %> </span> <% end %> </h3>
  <h3 class="comment_date"> <%=distance_of_time_in_words(DateTime.now, comment.created_at) %> ago </h5>
  <h3 class="comment"><%= comment.comment %>  </h3>
    <% if admin_signed_in? %>
    <%= link_to post_comment_path(@post.id,comment.id), method: 'delete', data: {confirm: 'Are you sure?'} do%>
      <h5 class="edit_delete" style="padding:0;margin:0"> Delete Comment </h5>
    <% end %> <% end %>
  </div>
  <% end %>
  </div> 
  
  
<%= render partial: 'shared/footer.html.erb' %>
  
</div>