<!---------header section---------->
<div id="header" style="position:absolute;z-index:-10;height:80%;">
<div id="coverText">
<h1 class="header_head" style="font-size:65px"> <%= @post.title %> </h1>
<h2 class="header_head"> Blog Post</h2>
</div>
</div>

<div id="content" style="position:absolute;top:80%">
  
  <div id="post">
    <div id="img_indivisual"><%= @post.postimg.html_safe %></div>
    <h5 class="date_time post_date_time" >posted on <%= @post.created_at %> by <%= @post.author %></h5>
    <h3 class="post_body"><%= simple_format(@post.content).html_safe %></h3>
  </div>
  
<%= render partial: 'shared/footer.html.erb' %>
  
</div>